@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

.main {
  width: 100vw;
  height: 100vh;
  background-image: url('./Images/bg-stars.svg'), url('./Images/pattern-hills.svg');
  background-repeat: repeat-x;
  background-position: top, bottom;
  background-color: hsl(235, 16%, 14%);
}